/* this is a work around or hackey way to fix our grid display problem */
body {
  background-color: white;
}


/* this is for all headers in the grid cells */
.Headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.1em + 1vw);
  color: White;
  font-family: roboto;
  font-weight: bold;
  padding: 15px;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(.88em + 1vw);
  color: White;
  font-family: roboto;
  padding: 10px;
}
.Quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(.18em + 1vw);
  color: White;
  font-family: lato;
  padding: 5px;
}

.Meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(.08em + 1vw);
  color: White;
  font-family: lato;
  padding: 5px;
}
.Space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: White;
  padding: 10px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

